/* map */
/* extend */
header .navbar-collapse, .form .form__container .form__title, .ubi .ubi__texto, .text__galeria, .texto__contenido, .titulo__servicio, .Parrafo__servicio, .textoprincipal__text, .container, .segundo__contenedor, .segundo__contenedor .textoprincipal__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* mixin */
body {
  background-color: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
  overflow-x: hidden;
  position: relative;
  padding-bottom: 3em;
  min-height: 100vh;
}

header {
  background-color: #12203e;
}

header .logo {
  margin: 0;
  padding: 5px;
  width: 150px;
}

header .navbar-collapse .nav-link {
  color: #fff;
  margin-right: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header .navbar-collapse .nav-link:hover {
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
}

.footer {
  background-color: #12203e;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer .footer__logo {
  margin-top: 10px;
  padding: 5px;
  width: 150px;
}

.footer .footer__texto {
  color: #fff;
  font-size: 16px;
}

.footer .footer__redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 15px;
  margin-top: 10px;
}

.footer .fa-brands {
  color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.footer .fa-brands:hover {
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
}

.form {
  margin: 20px;
  background-image: 0;
  width: 80%;
  max-width: 400px;
  border-radius: 1em;
  padding: 3.5em 1.5em;
  font-family: 'Roboto', sans-serif;
}

.form .form__container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  gap: 1em;
  grid-auto-columns: 100%;
}

.form .form__container .form__title {
  font-size: 1.9rem;
  margin-bottom: 1.4em;
}

.form .form__container .form__input {
  font-size: 1rem;
  padding: 0.8em 1em;
  outline: none;
  border: none;
  border: 1px solid #bbb0b0;
  border-radius: 0.2em;
}

.form .form__container .form__input--message {
  resize: none;
  padding: 1.8em 1em;
  margin-bottom: 0.5em;
}

.form .form__container .form__cta {
  background-color: #089fe0;
  font-size: 1rem;
  color: #fff;
  border: none;
  font-weight: 300;
  padding: 0.7em 0;
  border-radius: 0.2em;
  cursor: pointer;
  font-weight: 400;
}

.ubi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2px;
}

.ubi .ubi__texto {
  margin: 15px;
}

.ubi .ubi__iframe {
  width: 100%;
  padding-right: 50px 0;
  margin-bottom: 45px;
}

@media only screen and (max-width: 520px) {
  .ubi .ubi__iframe {
    margin-bottom: 30%;
  }
}

@media only screen and (max-width: 780px) {
  .ubi .ubi__iframe {
    margin-bottom: 20%;
  }
}

.carousel-inner {
  padding: 25px;
  padding-bottom: 10px;
  margin-bottom: 100px;
}

.carousel-inner img {
  width: 100%;
  max-height: 460px;
  border-radius: 1em;
}

.texto__contenido {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #000;
  padding: 40px;
}

.imagen__principal {
  border-radius: 1em;
  padding: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

@media only screen and (max-width: 520px) {
  .imagen__principal {
    margin-bottom: 10%;
  }
}

@media only screen and (max-width: 780px) {
  .imagen__principal {
    margin-bottom: 10%;
  }
}

.titulo__servicio {
  font-family: 'Roboto', sans-serif;
  font-size: 44px;
  color: #000;
}

.Parrafo__servicio {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #000;
  padding: 50px;
}

@media only screen and (max-width: 520px) {
  .Parrafo__servicio {
    margin-bottom: 20%;
  }
}

@media only screen and (max-width: 780px) {
  .Parrafo__servicio {
    margin-bottom: 20%;
  }
}

.banner__bici {
  width: 100%;
}

.textoprincipal__text {
  font-family: 'Roboto', sans-serif;
  font-size: 44px;
  color: #000;
}

.container .container__parrafo {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.container .imagen__contenido {
  border-radius: 1em;
  padding: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 250px;
  height: 250px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.container .imagen__contenido:hover {
  -webkit-transform: translate(10px, 10px);
          transform: translate(10px, 10px);
}

.segundo__contenedor .textoprincipal__text {
  font-family: 'Roboto', sans-serif;
  font-size: 44px;
  color: #000;
}

.segundo__contenedor .contenedor__imagen {
  padding: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 400px;
  height: 300px;
  border-radius: 1em;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.segundo__contenedor .contenedor__imagen:hover {
  -webkit-transform: translate(10px, 10px);
          transform: translate(10px, 10px);
}

.segundo__contenedor .contenedor__parrafo {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  padding-right: 100px;
}

@media only screen and (max-width: 520px) {
  .segundo__contenedor .contenedor__parrafo {
    margin-bottom: 20%;
  }
}

@media only screen and (max-width: 780px) {
  .segundo__contenedor .contenedor__parrafo {
    margin-bottom: 20%;
  }
}
/*# sourceMappingURL=main.css.map */