.footer{
 background-color: map-get($colores , color-header-footer);
 position: absolute;
 bottom: 0;
 width: 100%;

 @include mediaQuery(mobile){
   margin-top: 20%;
 }

    .footer__logo{
        margin-top: 10px;
        padding: 5px;
        width: 150px;
    }
    .footer__texto{
      color: #fff;
      font-size: map-get($tamaño-tipografico, parrafos);;
    }
        .footer__redes{
          display: flex;
          justify-content: space-evenly;
          padding: 15px;
          margin-top: 10px;
        }
            .fa-brands{
              color: #fff;
              transition: all 0.5s;
            }   
                .fa-brands:hover{
                 transform: scale(1.5, 1.5);
                }
}                 