header{
    background-color: map-get($colores , color-header-footer);

    .logo{
        margin: 0;
        padding: 5px;
        width: 150px;
    }

    .navbar-collapse{
        @extend %flex-center;

        .nav-link{
            color: #fff;
            margin-right: 30px;
            font-family: 'Roboto', sans-serif;
            font-size: map-get($tamaño-tipografico,  letra-nav);
            transition: all 0.5s;
        }
            .nav-link:hover{
                transform: scale(1.5, 1.5);
            }
       
    }
}