.banner__bici{
  width: 100%;
}
.textoprincipal__text {
    font-family: 'Roboto', sans-serif;
    font-size: map-get($tamaño-tipografico, titulos);
    color: #000;
    @extend %flex-center;

}
.container{
    @extend %flex-center;
 
    .container__parrafo{
      font-size: map-get($tamaño-tipografico, parrafos);
      font-family: 'Roboto', sans-serif;
    }
        .imagen__contenido{
          border-radius: 1em;
          padding: 5px;
          object-fit: cover;
          width: 250px;
          height: 250px;
          transition: all 1s;

          @include mediaQuery(mobile){
            width: 100px;
            height: 100px;
            display: flex;
            align-items: center;
          }
        }
            .imagen__contenido:hover{
             transform: translate(10px,10px)
            }
}
.segundo__contenedor{
    @extend %flex-center;

    .textoprincipal__text {
      font-family: 'Roboto', sans-serif;
      font-size: map-get($tamaño-tipografico, titulos);
      color: #000;
      @extend %flex-center;

    }
        .contenedor__imagen{
         padding: 5px;
         object-fit: cover;
         width: 400px;
         height: 300px;
         border-radius: 1em;
         transition: all 1s;

          @include mediaQuery(mobile){
            width: 200px;
            height: 200px;
          }
        
        }
            .contenedor__imagen:hover{
             transform: translate(10px,10px);
            }
                .contenedor__parrafo{
                 font-size: map-get($tamaño-tipografico, parrafos);
                 font-family: 'Roboto', sans-serif;
                 padding-right: 100px;

                 @include mediaQuery(mobile){
                   padding: 5px;
                   
                 }
                 @include mediaQuery(tablet){
                   margin-bottom: 20%;
                 }
                }
}
