.texto__contenido{
    font-size: map-get($tamaño-tipografico, parrafos);
    font-family: 'Roboto', sans-serif;
    color: #000;
    @extend %flex-center;
    padding: 40px;
}
    .imagen__principal{
     border-radius: 1em;
     padding: 5px;
     object-fit: cover; 
     width: 100%;

     @include mediaQuery(mobile){
       margin-bottom: 20%;
     }
     @include mediaQuery(tablet){
         margin-bottom: 10%;
     }
    }