.texto__contenido{
    font-size: map-get($tamaño-tipografico, parrafos);
    font-family: 'Roboto', sans-serif;
    color: #000;
    @extend %flex-center;
    margin: 50px;
}
    .imagen__principal{
     border-radius: 1em;
     margin: 5px;
     object-fit: cover;    
    }