.texto__contenido{
    font-size: map-get($tamaño-tipografico, parrafos);
    font-family: 'Roboto', sans-serif;
    color: #000;
    @extend %flex-center;
    padding: 40px;
}
.img__contenido{

    @include mediaQuery(tablet){
     padding-bottom: 10%;
    }
   
    .imagen__principal{
     border-radius: 1em;
     padding: 5px;
     object-fit: cover; 
     width: 100%;
     margin-bottom: 20%;
    }
}