.titulo__servicio{
 font-family: 'Roboto', sans-serif;
 font-size: map-get($tamaño-tipografico, titulos);
 color: #000;
 @extend %flex-center;
}
    .Parrafo__servicio{
        font-size: map-get($tamaño-tipografico, parrafos);
        font-family: 'Roboto', sans-serif;
        color: #000;
        @extend %flex-center;
        padding: 50px;

        @include mediaQuery(mobile){
            margin-bottom: 20%;
        }
        @include mediaQuery(tablet){
            margin-bottom: 20%;
        }
    }
